<div class="container" id="available-things" v-cloak>
  <div class="row justify-content-center">
    <h1 class="col-auto title">Things</h1>
  </div>
  <div class="row justify-content-center">
    <p class="col-auto subtitle">View available things to borrow, or upload your own things.</p>
  </div>
  <div class="row justify-content-center">
    <button class="col-auto btn btn-outline-info align-content-center">Add an Item</button>
  </div>
  <div class="row p-2" v-if="things.length > 0">
    <div class="col-3" v-for="thing in things">
      <div
              @mouseover="thing.showDelete = true"
              @mouseleave="thing.showDelete = false"
              :key="thing.id"
              class="card position-relative my-2">
      <span
              class="delete-button position-absolute"
              @click="showDeleteModal(thing.id)"
              v-if="me.id === thing.owner && thing.showDelete === true"
      >
        <span class="fa fa-trash text-danger"></span>
      </span>
        <!--      <img class="card-img-top" src="" :alt="thing.label + ' image'">-->
        <div class="card-body">
          <h5 class="card-title">{{ thing.label }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    You and your friends have not uploaded any items. Add something to get started.
  </div>

<% /* "Confirm Delete Thing" modal */ %>
  <modal @close="hideDeleteModal" key="delete" v-cloak v-if="showDeleteThingModal && thingIdToBeDeleted">
    <ajax-form
            action="destroyOneThing"
            :syncing.sync="syncing"
            :cloud-error.sync="cloudError"
            :handle-parsing="handleParsingDeleteThingForm"
            @submitted="submittedDeleteThingForm"
    >
      <div class="modal-header">
        <h5 class="modal-title">Remove this item?</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove {{ thingIdToBeDeleted ? thingIdToBeDeleted.label : 'this item' }} ?</p>
        <p>This item will no longer be available to share with friends.</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Nevermind</button>
        <button type="submit" class="btn btn-danger mr-1">Remove</button>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
