#available-things {
  .title {
    font-weight: bolder;
    color: #404043;
  }
  .subtitle {
    color: #8f8f8f;
  }
  .delete-button {
    right: 5px;
    top: 5px;
  }
  .delete-button:hover {
    cursor: pointer;
  }
}
