#homepage {

  [purpose='cloud-1'] {
    .fly-fade();
    opacity: 0;
    }
  [purpose='cloud-2'] {
    .fly-fade();
    .animation-delay(3.5s);
    opacity: 0;
  }
  [purpose='ship'] {
    .skid();
  }
  [purpose='more-info-text'] {
    .bob();
  }
  [purpose='setup-step'] {
    padding-left: 240px;
  }

  @media (max-width: 991px) {
    [purpose='setup-step'] {
      padding-left: 0;
    }
  }
}
